.navegacion {
  grid-area: navegacion;
  align-self: flex-end; }
  .navegacion ul {
    text-align: center; }
    .navegacion ul li {
      display: inline-block;
      margin-right: 25px; }
  .navegacion li a {
    text-decoration: none;
    color: grey; }

.titulo h3 {
  font-weight: bold;
  text-align: center; }

.titulo p {
  text-align: center; }

.indexSection {
  grid-area: section; }
  .indexSection .indexImagen {
    display: flex;
    justify-content: center; }
    .indexSection .indexImagen .imgPrincipal {
      width: 700px;
      height: 600px;
      object-fit: cover; }

.imagenLogo {
  width: 80px;
  height: 60px;
  display: inline-block; }

.logoMeraki {
  display: inline-block; }

.contenedor1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 125px 1fr 0.5fr; */
  grid-template-areas: "header header" "section section" "footer footer";
  grid-row-gap: 10px; }

@media screen and (max-width: 500px) {
  .contenedor1 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "section" "footer"; } }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  /* background: linear-gradient(155deg, rgba(245,245,220,1) 35%, rgba(255,255,255,1) 100%); */ }
  footer .whatsapp, footer .whatsapp--location {
    position: absolute;
    left: 94%;
    top: 92%;
    position: fixed; }

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  padding: 0; }
  body h1 {
    color: rgba(170, 206, 117, 0.76); }
  body h3 {
    color: rgba(170, 206, 117, 0.76); }
  body h4 {
    color: grey;
    display: flex;
    justify-content: center; }

header {
  z-index: 1000;
  background: linear-gradient(315deg, beige 35%, white 100%);
  position: sticky;
  top: 0%;
  grid-area: header; }

.mainContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main; }
  .mainContacto div {
    padding-bottom: 10px; }

.contenedor4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 125px 3fr 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-row-gap: 10px; }

@media screen and (max-width: 500px) {
  .contenedor4 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; } }

.mainCuidados {
  grid-area: main; }
  .mainCuidados .accordion-item {
    padding-bottom: 150px; }
    .mainCuidados .accordion-item .accordion-body {
      display: flex;
      justify-content: center; }

.contenedor3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 125px 1fr 0.5fr; */
  grid-template-areas: "header header" "main main" "footer footer";
  grid-row-gap: 10px; }

@media screen and (max-width: 500px) {
  .contenedor3 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; } }

.mainGaleria {
  grid-area: main;
  box-sizing: border-box; }
  .mainGaleria .divGaleria {
    display: flex;
    justify-content: space-evenly;
    flex: 33%;
    flex-wrap: wrap; }
    .mainGaleria .divGaleria .bodys1 {
      height: 300px;
      margin-bottom: 40px;
      transition: height 1s, width 1s; }
      .mainGaleria .divGaleria .bodys1:hover {
        height: 500px; }
    .mainGaleria .divGaleria .bombis1 {
      height: 300px;
      margin-bottom: 40px;
      transition: height 1s, width 1s; }
      .mainGaleria .divGaleria .bombis1:hover {
        height: 500px; }
    .mainGaleria .divGaleria .conjunto1 {
      height: 300px;
      margin-bottom: 40px;
      transition: height 1s, width 1s; }
      .mainGaleria .divGaleria .conjunto1:hover {
        height: 500px; }

.contenedor5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 125px 1fr 1fr; */
  grid-template-areas: "header header" "main main" "footer footer";
  grid-row-gap: 10px; }

@media screen and (max-width: 800px) {
  .divGaleria {
    flex: 50%; } }

@media screen and (max-width: 480px) {
  .contenedor5 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; }
  .divGaleria {
    flex: 100%; } }

.mainNosotros {
  display: flex;
  justify-content: center;
  grid-area: main; }
  .mainNosotros .parrafoN {
    line-height: 2;
    text-align: center;
    color: #b6b6b6; }
  .mainNosotros .imgNosotros {
    display: flex;
    justify-content: center; }
    .mainNosotros .imgNosotros .imgNosotros1 {
      width: 470px;
      height: 600px;
      margin-bottom: 50px;
      margin-top: 45px; }

.contenedor2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 125px 1fr 0.5fr; */
  grid-template-areas: "header header" "main main" "footer footer";
  grid-row-gap: 10px; }

@media screen and (max-width: 500px) {
  .contenedor2 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; } }

.instagram {
  width: 55px;
  height: 55px;
  display: block; }

.tiktok {
  width: 55px;
  height: 55px;
  display: block; }

.whatsapp--location {
  width: 55px;
  height: 55px;
  display: block; }

.tiendaMeraki {
  width: 55px;
  height: 55px;
  display: block; }

.whatsapp, .whatsapp--location {
  position: absolute;
  left: 94%;
  top: 92%;
  position: fixed; }
