footer{
    grid-area: footer;
    display:flex;
    justify-content: space-evenly;
    /* background: linear-gradient(155deg, rgba(245,245,220,1) 35%, rgba(255,255,255,1) 100%); */
    .whatsapp{
        position: absolute;
        left: 94%;
        top: 92%;
        position: fixed;
    }
}
body{
    font-family: 'Roboto', sans-serif;
    position:relative;
    margin: 0;
    padding: 0;
    h1{
        color: rgba(170, 206, 117, 0.76);
    }
    h3{
        color: rgba(170, 206, 117, 0.76);
    }
    h4{
       color: grey;
       display: flex;
       justify-content: center;
    }
}
header{
    z-index: 1000;
    background: linear-gradient(315deg, rgba(245,245,220,1) 35%, rgba(255,255,255,1) 100%);
    position: sticky;
    top: 0%;
    grid-area: header;
}