.navegacion{
    grid-area: navegacion;
    align-self: flex-end;
    ul{
        text-align: center;
        li{
            display: inline-block;
            margin-right: 25px;
        }
    }
    li a{
        text-decoration: none;
        color: grey;
    }
}
.titulo{
    h3{
        font-weight: bold;
        text-align: center;
    }
    p{
        text-align: center; 
    }
}

.indexSection{
    grid-area: section;
    .indexImagen{
        display: flex;
        justify-content: center;
        .imgPrincipal{
            width: 700px;
            height: 600px;
            object-fit: cover;
        }
    }
}
.imagenLogo{
    width: 80px;
    height: 60px;
    display: inline-block;
}
.logoMeraki{
    display: inline-block;
}
.contenedor1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 125px 1fr 0.5fr; */
    grid-template-areas: 
    "header header"
    "section section"
    "footer footer";
    grid-row-gap: 10px;
}
@media screen and (max-width: 500px){
    .contenedor1{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "section"
        "footer";
    }
}